.BoardSquares {
	height: 50px;
	width: 50px;
	padding: 5px;
	margin:5px;
}

.circle {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid #000;
      cursor: pointer;
      background-color: #FFF;
}

.black {
	background-color: #000;
}

.red {
	background-color: #cc4b37;
}

//5px 3px 5px 8px


    // width: 42px;
    // height: 42px;
    // border-radius: 50%;
    // border: 1px solid #000;
    // cursor: pointer;
    // background-color: #FFF;
