.boardContainer {
	border: 1px solid;
    width: 95%;
    margin: 50px auto 0 auto;
    padding: 20px 20px 20px 11px;
    background-color: #0068B1;
}

@media only screen and (min-width: 768px) {
	.boardContainer {
	    width: 30%;
	}	
}